#zstc{

    .overlay {
        position: relative;
        display: inline-block;
    }
    
    .overlay img {
        display: block;
        max-width: 140rem; /* Adjust as needed */
        height: auto;
    }
    
    .overlay-text {
        position: absolute;
        bottom: 0; /* Position at the bottom of the container */
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
        color: white; /* Text color */
        text-align: center; /* Center text */
        padding: 10px; /* Add padding if needed */
    }
    
    .overlay-text p {
        margin: 0;
        font-size: 1.5em; /* Adjust as needed */
    }
}

#zstdt{
    .overlay {
        position: relative;
        display: inline-block;
    }
    
    .overlay img {
        display: block;
        max-width: 140rem; /* Adjust as needed */
        height: auto;
    }
    
    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Black overlay with 50% opacity */
        color: white; /* Text color */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .overlay-text p {
        margin: 0;
        font-size: 1.5em; /* Adjust as needed */
    }
}

#zstd{
    .overlay {
        position: relative;
        display: inline-block;
    }
    
    .overlay img {
        display: block;
        max-width: 140rem; /* Adjust as needed */
        height: auto;
    }
    
    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
        color: white; /* Text color */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .overlay-text p {
        margin: 0;
        font-size: 1.5em; /* Adjust as needed */
    }
}


#zstg{
    
    .overlay {
        position: relative;
        display: inline-block;
    }
    
    .overlay img {
        display: block;
        max-width: 140rem; /* Adjust as needed */
        height: auto;
    }
    
    .overlay-text {
        position: absolute;
        top: 0; /* Position at the bottom of the container */
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
        color: white; /* Text color */
        text-align: center; /* Center text */
        padding: 10px; /* Add padding if needed */
    }
    
    .overlay-text p {
        margin: 0;
        font-size: 1.5em; /* Adjust as needed */
    }
}

#zstdi {

    .overlay {
        position: relative;
        display: inline-block;
    }
    
    .overlay img {
        display: block;
        max-width: 140rem; /* Adjust as needed */
        height: auto;
    }
    
    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
        color: white; /* Text color */
        text-align: center; /* Center text */
        padding: 10px; /* Add padding if needed */
    }
    
    .overlay-text p {
        position: absolute;
        top: 0; /* Position at the bottom of the container */
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
        margin: 0;
        font-size: 1.5em; /* Adjust as needed */
        padding: 10px; /* Add padding if needed */
    }
}

#zsty {

    .overlay {
        position: relative;
        display: inline-block;
    }
    
    .overlay img {
        display: block;
        max-width: 140rem; /* Adjust as needed */
        height: auto;
    }
    
    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
        color: white; /* Text color */
        text-align: center; /* Center text */
        padding: 10px; /* Add padding if needed */
    }
    
    .overlay-text p {
        position: absolute;
        bottom: 0; /* Position at the bottom of the container */
        left: 50%;
        transform: translateX(-50%); /* Center horizontally */
        margin: 0;
        font-size: 1.5em; /* Adjust as needed */
        padding: 10px; /* Add padding if needed */

    }
}
