// Defining color variables
$primary-color: rgba(45,158,166,255); // Hex value
$black: #1a1a1a;

// COLORS
$color-logo: #709634;
$color-primary: #007297;
$color-primary-lighter: #5fa8c0;
$color-primary-light: rgba(159,203,66,255);
$color-primary-dark: rgb(42, 40, 42);

$color-primary-mix-light: linear-gradient($color-primary-light, $color-primary);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #BFC3BA;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-medium: rgb(88, 88, 88);
$color-grey-dark-3: #333;

$color-logo: rgba(0, 0, 0, 0.1);


$color-white: #ffffff;
$color-black: #000;


// FONT
$default-font-size: 1.5rem;

// Variables
$grid-width: 130rem;
$gutter-vertical: 4rem; // Keeps vertical gap as is
$gutter-vertical-small: 3rem; // Keeps vertical gap for smaller screens
$gutter-horizontal: 4rem; // Set horizontal gap to 2rem


// loader

// loader

$size: 20rem;